<div *ngIf="emprendedor" style="margin-bottom: 2rem;">
  <h3>{{ emprendedor.nombre }}</h3>

  <div>
    <div style="height: 300px; display: inline-block;">
      <img
        [src]="emprendedor.foto_url"
        [alt]="emprendedor.nombre"
        style="width: 80%;"
      >
    </div>

    <div style="width: 50%; display: inline-block;">
      <p><strong>Pregrado: </strong> {{ emprendedor.pregrado }}</p>
      <p><strong>Género: </strong> {{ emprendedor.genero }}</p>
    </div>
  </div>

  <a class="btn btn-secondary mt-3" [routerLink]="['/emprendedores']">Regresar</a>
</div>

