
<div class="container">
  <h1 class="mt-4">Jóvenes Emprendedores Colombianos</h1>

  <table class="table table-bordered mt-4">
    <thead>
      <tr style="--bs-table-bg: #0ae98a; --bs-table-color: white;">
        <th scope="col">Nombre</th>
        <th scope="col">Foto</th>
        <th scope="col">Género</th>
        <th scope="col">Pregrado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emprendedor of emprendedores"
          [routerLink]="['/emprendedor', emprendedor.id]"
          style="cursor:pointer">
        <td>{{ emprendedor.nombre }}</td>
        <td>
          <img [src]="emprendedor.foto_url" alt="{{ emprendedor.nombre }}" style="width: 50px; height: auto;">
        </td>
        <td>{{ emprendedor.genero }}</td>
        <td>{{ emprendedor.pregrado }}</td>
      </tr>
    </tbody>
  </table>
  <p class="mt-2"><strong>Total de emprendedores:</strong> {{ emprendedores.length }}</p>
</div>